<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Restaurant.Properties.Settings.TreasureLandConnectionString2"
            connectionString="Data Source=.\sqlExpress;Initial Catalog=StMartin;Integrated Security=True"            
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>