<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="loginRedirectByRole" type="TreasureLand.LoginRedirectByRoleSection" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>
  <connectionStrings>
    <clear/>
    <add name="HotelDB" connectionString="Server=.\sqlExpress; Database=StMartin;Trusted_Connection=True"/>
    <add name="HotelDBM" connectionString="Data Source=.\sqlExpress;Initial Catalog=StMartin;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="TreasureLandEntities" connectionString="metadata=res://*/EDM.TreasureLandModel.csdl|res://*/EDM.TreasureLandModel.ssdl|res://*/EDM.TreasureLandModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=titan.cs.weber.edu,10433;Initial Catalog=TreasureLand1;Persist Security Info=True;User ID=4790Client;Password=CS4790;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="TreasureLand1ConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=StMartin;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <!-- 2011/10/21 Ryan Diener: This section provides security to the sitemap so that it can present
    pages to users only if the logged in user's group is listed in the sitemapNode's roles attribute. When 
    adding nodes to the sitemap, it is not necessary to add roles if you would like anyone to be able to see
    the link in their map or if you implement your own static menu
    -->
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
    </httpHandlers>
    <globalization culture="en-GB"/>
    <siteMap defaultProvider="XmlSiteMapProvider">
      <providers>
        <add name="XmlSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="Web.sitemap" securityTrimmingEnabled="true"/>
      </providers>
    </siteMap>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </buildProviders>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880"/>
    </authentication>
    <membership>
      <providers>
        <clear/>
        <!-- START COMMENT 2011/10/14 Ryan Diener
           Below is the membership provider information.
        END COMMENT 2011/10/14 Ryan Diener-->
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="HotelDB" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <!--2011/10/21 Ryan Diener: This section defines the role provider.-->
    <roleManager enabled="true">
      <providers>
        <clear/>
        <add connectionStringName="HotelDB" applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider"/>
      </providers>
    </roleManager>
    <!--2011/10/21 Ryan Diener: This section defines the profile provider-->
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="HotelDB" applicationName="/"/>
      </providers>
    </profile>
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
  </system.web>
  <!--2011/10/21 Ryan Diener:
  This section is a custom configuration node which allow us to redirect a user after 
  login to the home page specfied, depending on the role of the user.
  -->
  <loginRedirectByRole>
    <roleRedirects>
      <add role="Admin" url="LoginRedirect.aspx"/>
      <add role="Maintenance" url="LoginRedirect.aspx"/>
      <add role="Clerk" url="LoginRedirect.aspx"/>
      <add role="HouseKeeping" url="LoginRedirect.aspx"/>
      <add role="Manager" url="LoginRedirect.aspx"/>
    </roleRedirects>
  </loginRedirectByRole>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    </handlers>
  </system.webServer>
</configuration>