<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Restaurant.Properties.Settings.TreasureLandConnectionString"
            connectionString="Data Source=&quot;titan.cs.weber.edu, 10433&quot;;Initial Catalog=TreasureLand;Persist Security Info=True;User ID=4790Client;Password=CS4790"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>